{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/objects/crafting/gov_desk/consoleheader.png",
      "fileBody" : "/objects/crafting/gov_desk/consolebody.png"
    },
    "scriptCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [40, 45, 434, 254],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    },
    "close" : {
      "zlevel" : 2,
      "type" : "button",
      "base" : "/interface/cockpit/xup.png",
      "hover" : "/interface/cockpit/xdown.png",
      "pressed" : "/interface/cockpit/xdown.png",
      "callback" : "close",
      "position" : [419, 263],
      "pressedOffset" : [0, -1]
    }
  },

  "scripts" : ["/objects/crafting/gov_desk/deskgui.lua"],
  "scriptDelta" : 5,
  "scriptCanvas" : "scriptCanvas"
}
